
html {
  font-size: 16px;
  font-family: "Arial", sans-serif, helvetica;
}

/* Header section */
.header-main {
  display: flex;
  height: 64px;
  margin: 0px 24px 0px 24px;
}

.header-sub {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}


#colmar {
  color: black;
}

#academy {
  color: #b3b3b3;
}


.header-nav {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.header-nav ul{
  list-style: none;
  display: flex;
}

.header-nav a {
  color: #999;
  text-decoration: none
}
.header-nav a:hover {
  text-decoration: underline;
}

#first, #second, #third {
  margin-right: 16px;
}


/* Header mobile section */
.header-mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  .header-main {
    display: none;
  }

  .header-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 64px;
    width: 100%;
  }

}

/* Banner section */
.main-banner {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: lightgrey;
}

.banner-image {
  width: 60%;
  margin: 32px 24px 32px 24px;
}

#banner-image {
  width:100%;
}

.learn-now {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 100px;
}

#headline, #some-text {
word-wrap: break-word;
color: #4d4d4d;
width: 80%;
}

#headline {
  font-size: 2.4rem;
}

#some-text {
  font-size: 1.3rem;
  letter-spacing: 1px;
}

#start-here {
  width: 60%;
  background: #4d4d4d;
  color: white;
  margin: 24px 24px 0px 0px;
  padding: 8px 0px 8px 0px;
  font-size: 1.1rem;
  text-align: center;
}

#start-here a:link, #start-here a:hover {
  color: white;
  text-decoration: none;
}

/* Banner mobile section */

@media only screen and ( max-width: 480px) {
  .main-banner {
    flex-direction: column;
    width: 100%;
  }

  .banner-image {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .learn-now {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 32px 0px 32px 16px;

  }

  #headline {
    font-size: 1.75rem;
    word-wrap: normal;
    text-align: left;
    color: #4d4d4d;
  }

  #some-text {
    font-size: 1rem;
  }

  #start-here {
    width: 90%;
    background-color: #999;
  }
}

/* Start praticing section */

.main-practicing {
  display: inline-flex;
  width: 100%;
}

.keep-practicing {
  width: 60%;
  margin: 32px 24px 32px 24px;
}

#praticing-image {
  width: 100%;
}

.praticing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: blue; */
}

#curabitur-headline {
  font-weight: bold;
  font-size: 2rem;
  color: #4d4d4d;
  margin-bottom: 24px;
}

#practicing-text {
  font-size: 0.9rem;
  color: #666;
}

#emanuel {
  font-size: 0.7rem;
  font-weight: bold;
  color: #666;
  margin-bottom: 32px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-right: 100px;
  /* background-color: red; */
  position: relative;
  top: 16px;
}

.orientation {
  display: flex;
}

#orientation-image {
  width: 35%;
  height: 35%;
  margin: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
}

#orientation-date {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
}

#dates {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

.readmore {
  font-size: 0.9rem;
  /*color: cornflowerblue;*/
}

.readmore a:link, .readmore a:visited, .readmore a:hover, .readmore a:active {
  color: cornflowerblue;
  text-decoration: none;
}

.readmore a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
  border-color: #f1f1f1;
  opacity: 0.3;
  margin: 0px 0px 0px 16px;
  padding: 0;
}

.campus {
  display: flex;
}

#campus-image {
  width: 35%;
  height: 35%;
  margin: 16px;
}

#our-campus {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
}

#find-campus {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

.guest {
  display: flex;
  background-color: lightgrey
}

#guest-image {
  width: 35%;
  height: 35%;
  margin: 16px;
}

#guest-lecture {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
}

#keynote {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}

/* Start learning section */

.main-learning {
  margin: 32px 0px 32px 0px;
  background-color: lightgrey;
}

#start-learning {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: #4d4d4d;
  padding-top: 32px;
}

.courses {
  display: inline-flex;
  width: auto;
  margin: 0px 72px 0px 72px;
}

 .courses2 {
   display: inline-flex;
   width: auto;
   margin: 0px 72px 0px 72px;
 }

.course {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  background: white;
}

#software-design, #computer {
  margin-right: 32px;
}

#software-image {
  width: 100%;
  height: auto;
}

#software-design {
  background: white;
}

#software-engineering {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
  padding-left: 16px;
}

#swe-subhead, #swe-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
  padding-left: 16px;
}

#computer-image {
  width: 100%;
  height: auto;
}

#computer {
  background: white;
  padding: 0;
}

#computer-art {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
  padding-left: 16px;
}

#comp-subhead, #comp-description {
  font-size: 0.9rem;
  color: #666;
  padding-bottom: 8px;
  padding-left: 16px;
}

#design-image {
  width: 100%;
  height: auto;
}

#ui-design {
  background: white;
  padding: 0;
}


#design {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
  padding-left: 16px;
}

#design-subhead, #design-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
  padding-left: 16px;
}
/* Thesis exhibition section */

.main-thesis {
  display: flex;
  margin: 32px 0px 32px 0px;
}

#thesis-exhibit {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: #4d4d4d;

}

.main-thesis-content {
  display: flex;
  width: 100%;
}

.thesis-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0px 24px 24px 24px;
}

#video-urban {
  width: 100%;
}

#reimagine {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
  padding-left: 24px;
}

#reimagine-text {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 32px;
  padding-left: 24px;
}

.showcases {
display: flex;
flex-direction: column;
align-items: flex-start;
}


.fisma {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: lightgrey
}

.fisma-image {
  width: 40%;
}

#fisma-image {
  width: 80%;
  margin: 16px;
}

.fisma-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#fisma-text {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
}

#fisma-note {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}


.nowandthen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.research-image {
  width: 40%;
}

#research-image {
  width: 80%;
  padding: 16px;
}

.research-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#research-text {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 8px;
}

#research-note {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 8px;
}


/* Footer section */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px 0px 24px;
}

#footer-left {
  color: #4d4d4d;
  font-size: 0.7rem;
}

#footer-right {
  color: #4d4d4d;
  font-size: 0.7rem;
}
