
html {
  font-size: 16px;
  font-family: arial, helvetica;
}

/* Header section */
.header-main {
  display: flex;
  height: 64px;
  margin: 0px 24px 0px 24px;
}

.header-sub {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 1.2rem;
}


#colmar {
  color: black;
}

#academy {
  color: #b3b3b3;
}


.header-nav {
  width: 100%;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.header-nav ul{
  list-style: none;
  display: flex;
}

.header-nav a {
  color: #999;
  text-decoration: none
}
.header-nav a:hover {
  text-decoration: underline;
}

#first, #second, #third {
  margin-right: 16px;
}


/* Banner section */
.main-banner {
  display: inline-flex;
  align-items: center;
  width: 100%;
  background-color: lightgrey;
}

.banner-image {
  width: 60%;
  margin: 32px 24px 32px 24px;
}

#banner-image {
  width:100%;
}

.learn-now {
  width: 40%;
  padding-right: 100px;
}

#headline, #some-text {
text-align: center;
word-wrap: break-word;
color: #666666;
}

/* Start learning section */

/* Thesis exhibition section */

/* Footer section */
